﻿@{
    Layout = null;
    List<WebTVBFun2._3Api.webTvbFun2._3Api.modle.ConfigInfo> configInfo = ViewBag.configInfo;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    @foreach (var item in configInfo)
    {
        <p> publishing_field : @item.Name</p>
        <p>UrlPrefix : @item.UrlPrefix</p>
        <p>ImageUrlPrefix : @item.ImageUrlPrefix</p>
        <p>JSON_v2_3_Folder : @item.JSON_v2_3_Folder</p>
        <p>EnableUploadFTP : @item.EnableUploadFTP</p>
        <p>EnableUploadBak : @item.EnableUploadBak</p>
        <p>EnableUploadStorage : @item.EnableUploadStorage</p>
    }
    </div>
</body>
</html>
